@font-face {
    font-family: "Overpass";
    src: local("Overpass Regular"), local(Overpass), local(Overpass-Regular), url(fonts/Overpass-Regular.ttf);
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Overpass";
    src: local("Overpass Bold"), local(Overpass-Bold), local(Overpass-Bold), url(fonts/Overpass-Bold.ttf);
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Overpass";
    src: local("Overpass Light"), local(Overpass-Light), url(fonts/Overpass-Light.ttf);
    font-style: normal;
    font-weight: 300;
}

html {
    overflow-y: scroll;
    font-size: 16px;
}

body {
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: url("images/bg2.png");
    background-repeat: repeat;
    font-family: "Overpass";
    font-weight: 300;
}

.navbar {
    margin-bottom: 0px;
    border: none;
    background: none;
    font-weight: 400;
}

.navbar-dark {
    background-color: #535452;
}

.navbar-brand {
    color: #e8e8e8 !important;
    text-transform: uppercase;
    font-size: 10pt;
}

.navbar-nav>li>a {
    text-transform: uppercase;
    color: #e8e8e8 !important;
    font-size: 10pt;
}

.navbar-nav>li>a:hover {
    color: #639a81 !important;
}

.navbar .logo {
    position: relative; 
    top: -2px;
}

.navbar .logo img {
    height: 25px; 
    top: -20px;
}

.navbar .logo-text {
    padding-left: 5px;
}

.PASSED {
    background-color: #639a81 !important;
    color: #eee;
}

.FAILED {
    background-color: #cc6168 !important;
    color: #eee;
}

.NEEDS_INSPECTION {
    background-color: #cc8f60 !important;
    color: #eee;
}

.INFO {
    background-color: #63819a !important;
    color: #eee;
}

.red {
    color: #cc6168;
}

.example-enter {
    opacity: 0.01;
}

.example-enter.example-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.example-leave {
    opacity: 1;
}

.example-leave.example-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}

.result-detail {
    height: 2em;
}

.outcome {
    vertical-align: middle;
    width: 3em;
}

table,
tr,
td,
th {
    border: 1px solid #eee;
    border-collapse: collapse;
    vertical-align: middle;
}

.detail-data {
    padding: 0.5em;
}

.detailed {
    padding: 1em;
    background-color: #fff;
}

table {
    width: 100%;
}

pre {
    font-family: monospace;
    width: inherit;
    font-size: 8pt;
    background-color: #fff;
    border: none;
    white-space: pre-wrap
}

#spinner {
    display: hidden;
}

.detail-toggle {
    color: #535452;
}

.more {
    height: 2em;
    width: 2em;
    padding-top: 0.3em;
    font-size: 1.5em;
    border-radius: 50%;
}

thead {
    background-color: #535452;
    color: #eee;
}

th {
    border: none;
}

.table-striped>tbody>tr:nth-child(even)>td {
    background-color: #fff;
}

.checkbox {
    border-radius: 4px;
    border: 1px solid #eee;
    padding: 0.5em;
    margin: 0.5em;
    background-color: #fff !important;
    color: #535452 !important;
}

.radiobox {
    border-radius: 4px;
    border: 1px solid #eee;
    padding: 0.5em;
    margin: 0.5em;
    background-color: #fff !important;
    color: #535452 !important;
}

#search-form-wrapper {
    border: 1px solid #eee;
    background-color: #fff;
}

.search-form {
    margin: 1em;
}

#search-form-header {
    background-color: #535452;
    color: #eee;
    width: 100%;
    padding: 0.5em;
    font-weight: bold;
}

.btn-search {
    background-color: #535452;
    color: #eee;
    font-weight: bold;
    margin-top: 50px;
}

#search-form-wrapper input[type=checkbox] {
    display: none;
}

#search-form-wrapper input[type=radio] {
    display: none;
}

label {
    margin: 0;
}

#search-form-wrapper input[type=checkbox]:checked+span {
    color: #eee !important;
}

#search-form-wrapper input[type=radio]:checked+.radiobox {
    color: #eee !important;
    background-color: #535452 !important;
    transition: all 0.1s linear;
}

#search-form-wrapper input[type=radio]:checked+.radiobox input {
    color: #535452 !important;
    width: 6em;
    text-align: center;
    border-radius: 4px;
    border: 1px solid #eee;
    margin: 0;
    margin-left: 0.5em;
    height: 1.35em;
}

#search-form-wrapper input[type=checkbox]:checked+.PASSED {
    background-color: #639a81 !important;
    border-color: #639a81;
    transition: all 0.1s linear;
}

#search-form-wrapper input[type=checkbox]:checked+.FAILED {
    background-color: #cc6168 !important;
    border-color: #cc6168;
    transition: all 0.1s linear;
}

#search-form-wrapper input[type=checkbox]:checked+.NEEDS_INSPECTION {
    background-color: #cc8f60 !important;
    border-color: #cc8f60;
    transition: all 0.1s linear;
}

#search-form-wrapper input[type=checkbox]:checked+.INFO {
    background-color: #63819a !important;
    border-color: #63819a;
    transition: all 0.1s linear;
}

#search-checkboxes {
    border: 1px solid #eee;
    border-radius: 4px;
    !padding: 0.5em;
}

.token-removeable {
    display: inline-block;
    background-color: #535452;
    color: #eee;
    border-radius: 4px;
    border: 0px solid #eee;
    padding-left: 0.3em;
    margin-right: 0.5em;
}

.close-button {
    margin-left: 0.3em;
    margin-right: 0.1em;
}

.react-datepicker {
    font-family: "Overpass" !important;
    font-size: 12pt;
}

.react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected {
    background-color: #535452;
}

.search-form > input[type="text"]:focus {
    outline: none;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075) !important;
    border:1px solid #ccc !important;
}

@keyframes fa-blink {
     0% { opacity: 0; }
     40% { opacity: 1; }
     100% { opacity: 0; }
 }
.fa-blink {
   animation: fa-blink 2s ease-out infinite;
}